<div class="projects-filter">
  <div class="filters">
    <div class="search">
      <label for="query" class="field-label">Recherche</label>
      <div class="relative group">
        <input
          id="query"
          (input)="updateQuery($event)"
          class="field-input"
          placeholder="SEARCH BY TAGS (E.G. RUST, GRPC)..."
          type="text"
        />
        <span
          class="material-symbols-outlined filter-icon"
        >search</span
        >
      </div>
    </div>
    <div class="select">
      <label for="orderId" class="field-label">Sequence</label>
      <div class="select-wrap">
        <select
          (change)="selectOrderById($event)"
          id="orderId"
          class="minimal-select"
        >
          <option value="ASC">ORDER BY ID [ASC]</option>
          <option value="DESC">ORDER BY ID [DESC]</option>
        </select>
      </div>
    </div>
  </div>
</div>
