<div
  class="experience group py-10 md:py-16 border-t border-gray-200 flex flex-col md:flex-row items-start gap-6 md:gap-8 transition-colors duration-500"
  [class.border-b]="last()"
>
  <div class="font-mono text-sm group-hover:text-[#ba002c] tracking-tight text-gray-500">
    {{ experience().date }}
  </div>

  <div class="w-full flex flex-col gap-4">

    <div>
      <h5
        class="text-2xl mb-2 font-semibold text-black group-hover:text-[#ba002c] transition-colors duration-500">
        {{ experience().position | uppercase }}
      </h5>
      <p class="text-sm uppercase tracking-[0.2em] text-gray-500">
        {{ experience().company }} — {{ experience().contract }}
      </p>
    </div>

    <div class="flex flex-wrap gap-2">
      @for (skill of experience().stack; track $index) {
        <span
          class="text-[10px] tracking-[0.2em] uppercase border rounded-sm px-2 py-1 transition-colors duration-300"
          [ngClass]="{
                'bg-gray-200 text-black border-gray-300': $index % 2 === 0,
                'bg-transparent text-gray-600 border-gray-300': $index % 2 !== 0
              }"
        >
              {{ skill | uppercase }}
            </span>
      }
    </div>

    <ul class="flex flex-col gap-2">
      @for (task of experience().tasks; track $index) {
        <li class="text-gray-700 leading-relaxed flex gap-3">
          <span class="text-gray-400">—</span>
          <span class="text-justify">{{ task }}</span>
        </li>
      }
    </ul>

  </div>

  <div class="md:w-1/4 md:text-right">
        <span class="text-[10px] tracking-widest uppercase text-gray-400">
          {{ experience().location | uppercase }}
        </span>
  </div>
</div>
