<div class="relative">
  <div class="bottom-0 border-b-2 w-full opacity-10 my-3 py-3"></div>
  <div class="flex justify-between">
    <button
      class="cursor-pointer mono text-[10px] tracking-[0.3em] uppercase opacity-40 disabled:opacity-20 disabled:cursor-not-allowed"
      (click)="previous()"
      [disabled]="isFirstPage()"
    >
      précédant
    </button>
    <span class="cursor-pointer mono text-[10px] tracking-[0.3em] uppercase opacity-40"
    >{{ currentPage() }} / {{ totalPages() }}</span
    >
    <button
      class="cursor-pointer mono text-[10px] tracking-[0.3em] uppercase opacity-40 disabled:opacity-20 disabled:cursor-not-allowed"
      (click)="next()"
      [disabled]="isLastPage()"
    >
      suivant
    </button>
  </div>
</div>
