@use 'variables' as *;

.home-container {
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  .about-header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;

    .quote {
      display: flex;
      flex-direction: column;
      font-family: 'Noto Serif', serif !important;
      font-size: 54px;
      font-style: italic;
    }

    .header-description {
      text-align: justify;
    }

    .cv {
      margin-top: 10rem;
    }
  }


}

@media (max-width: 1200px) {
  .home-container {
    flex-direction: column;
  }
  .about-header {
    width: 100% !important;

    .cv {
      margin-top: 0 !important;
    }
  }


  .about-experience {

    .experience {
      flex-direction: column;
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .quote {
    font-size: 2rem !important;
  }
}
