<div class="home-container flex-1 px-6 md:px-12 lg:px-20">
  <div class="about-header">
    <div class="quote">
      @for (quote of info.quote; track $index) {
        <span class="text-black opacity-70">{{ quote }}</span>
      }
    </div>

    <div class="header-description">
      <p>
        {{ info.description }}
      </p>
    </div>

    <div class="flex gap-1 flex-col">
      <h4 class="font-headline underline tracking-wide italic">Compétences clés</h4>
      <div class="flex flex-row flex-wrap gap-1">
        @for (skill of info.skills; track $index) {
          <span
            class="text-[10px] tracking-[0.2em] uppercase border rounded-sm px-2 py-1 transition-colors duration-300"
            [ngClass]="{
                'bg-gray-200 text-black border-gray-300': $index % 2 === 0,
                'bg-transparent text-gray-600 border-gray-300': $index % 2 !== 0
              }"
          >
              {{ skill | uppercase }}
            </span>
        }
      </div>
    </div>

    <section class="valleys-of-space text-center cv">
      <h4 class="font-headline text-3xl mb-6 tracking-wide italic">Besoin de mon CV ?</h4>
      <div class="flex justify-center">
        <button
          class="bg-background text-white px-12 py-5 font-mono text-xs tracking-[0.3em] uppercase hover:bg-[#ba002c] transition-all duration-500 group relative">
          <a href="/doc-202604-ar.pdf" download>Télécharger le CV</a>
        </button>
      </div>
    </section>
  </div>
  <div class="about-experience flex flex-col">
    @for (exp of info.experiences; track $index) {
      <app-experience [experience]="exp" [last]="$last"></app-experience>
    }
  </div>
</div>
